<div class="container">
  <div class="box">
    <h1 class="hotel-text">Add room</h1>
    <form (ngSubmit)="onFormSubmit(form)" #form="ngForm">
      <h3>Room name</h3>
      <mat-form-field appearance="outline">
        <input
          name="name"
          ngModel
          matInput
          placeholder="Enter here"
          type="text"
          required
        />
      </mat-form-field>
      <h3>Room quantity</h3>
      <mat-form-field appearance="outline">
        <input
          name="qauntity"
          ngModel
          matInput
          placeholder="Enter here"
          type="number"
          required
        />
      </mat-form-field>
      <h3>Room Child Placement Policy</h3>
      <mat-form-field appearance="outline">
        <mat-label>Enter here</mat-label>
        <textarea name="childPolicy" ngModel required matInput></textarea>
      </mat-form-field>

      <h3>Room amenities</h3>
      <mat-form-field appearance="outline">
        <mat-label>Enter here</mat-label>
        <textarea name="amenities" ngModel required matInput></textarea>
      </mat-form-field>

      <h3>Room image</h3>
      <div class="upload-image">
        <input
          style="display: none"
          (change)="onImgInpChange($event)"
          type="file"
          #selectFile
          accept=".jpg,.png,.jpeg"
        />
        <button
          class="upload-btn"
          mat-raised-button
          color="warn"
          type="button"
          (click)="selectFile.click()"
        >
          Select Image
        </button>
      </div>
      <button
        class="register-button"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Register room
      </button>
    </form>
  </div>
</div>
