<div class="container-fluid">
  <h4 class="header-text">
    <strong>TravelMore Privacy Policy</strong>
  </h4>
  <h4 style="text-align: center">
    Welcome, and thank you for your interest in TravelMore, our web site at
    https://www.localhost.com (the “Website”), and all related web sites,
    downloadable software, mobile applications (including tablet applications),
    and other services provided by us or our partners and on which a link to
    this Privacy Policy is displayed, and all other communications with
    individuals though from written or oral means, such as email or phone.
  </h4>
  <h4><strong>Definitions</strong></h4>
  <p>
    Booking means a combination of the User’s actions, as a result of which the
    User, having accepted the Booking Terms and Conditions, generates and
    submits an order for accommodation and other services available on the
    Website. Provision of the Personal Data by the User is a necessary and
    crucial condition for making a valid Booking. “Booking” can also be referred
    to an order for accommodation completed by the User through the Service.
  </p>
  <p>
    Data Controller means the Russian company Hotel Booking LLC, state
    registration number 1157746695644.
  </p>
  <p>
    Personal Account means a section of the Website for registered Users,
    containing the Booking managing tools. The Personal Account is generated
    either as the result of the Booking or by deliberate creation of the
    Personal Account by the User on the Website.
  </p>
  <p>
    Personal Data means any information relating to an identified or
    identifiable natural person, which makes possible to determine the User’s
    identity. Such information may also include data about other people the User
    makes Bookings for.
  </p>
  <p>
    Service means a multifunctional information technological online hotel and
    other travel services booking platform available on the Website, including
    versions and modifications designed for mobile devices, and all related web
    sites, downloadable software, mobile applications (including tablet
    applications), and other services provided by us or our partners and on
    which a link to this Policy is displayed. The User is granted access to the
    Service under the terms of a free, simple and non-exclusive license.
  </p>
  <h4>
    <strong>The Information We Collect on the Service</strong>
  </h4>
  <p>
    We collect different types of information from or through the Service. The
    legal bases for Ostrovok’s processing of Personal Data are primarily that
    the processing is necessary for providing the booking services in accordance
    with Booking Terms and Conditions, and that the processing is carried out in
    Ostrovok’s legitimate interests, which are further explained in the section
    “How We Use the Information We Collect”. We may also process other data upon
    the User’s consent, asking for it as appropriate.
  </p>
  <p>
    User-provided Information. When the Service is used, User may provide, and
    we may collect, some of the User’s Personal Data. Examples of Personal Data
    include the User’s name, surname, passport details, residency, email
    address, mailing address, mobile phone number, cookie files, and credit card
    or other billing information. Personal Data also includes other information,
    such as geographic area or preferences, when any such information is linked
    to information that identifies a specific individual. User provides us with
    Personal Data in various ways on the Service. For example, we may collect a
    User’s Personal Data when User registers for a Personal Account, uses the
    Service, or sends us customer service -related requests.
  </p>
  <p>
    “Automatically Collected” Information. When the User uses the Service, we
    may automatically record certain information from the User’s device by using
    various types of technology, including cookies, “clear gifs" or “web
    beacons.” This “automatically collected” information may include IP address
    or other device address or ID, web browser and/or device type, the web pages
    or sites visited just before or just after using the Service, the pages or
    other content the User views or interacts with on the Service, and the dates
    and times of the visit, access, or use of the Service. We also may use these
    technologies to collect information regarding the User’s interaction with
    email messages, such as whether the User opens, clicks on, or forwards a
    message.
  </p>
  <p>
    Integrated Services. User may be given the option to access or register for
    the Service through the use of a User’s name and passwords for certain
    services provided by third parties (each, an “Integrated Service”), such as
    through the use of the User’s Facebook account, or otherwise have the option
    to authorize an Integrated Service to provide Personal Data or other
    information to us. By authorizing us to connect with an Integrated Service,
    the User authorize us to access and store his/her name, surname, email
    address(es), date of birth, gender, current city, profile picture URL, and
    other information that the Integrated Service makes available to us, and to
    use and disclose it in accordance with this Policy. The User should check
    his/her privacy settings on each Integrated Service to understand what
    information that Integrated Service makes available to us, and make changes
    as appropriate. Please review each Integrated Service’s terms of use and
    privacy policies carefully before using their services and connecting to our
    Service.
  </p>
  <p>
    Information from other sources. We may obtain information, including
    Personal Data, from third parties and sources other than the Service, such
    as our partners, advertisers, credit rating agencies, and Integrated
    Services. If we combine or associate information from other sources with
    Personal Data that we collect through the Service, we will treat the
    combined information as Personal Data in accordance with this Policy.
  </p>
  <p>
    Payment information. Such as name, billing address, account number,
    andpayment card details (including card number, expiration date and security
    code) forpayments processed by us. To the extent any payments are processed
    by any other thirdparties such as PayPal or Apple Pay, then the privacy
    policies of those parties shall governsuch information.
  </p>
  <h4><strong>Changes and Updates to this Policy</strong></h4>
  <p>
    Please revisit this page periodically to stay aware of any changes to this
    Policy, which we may update from time to time. If we modify the Policy, we
    will make it available through the Service, and indicate the date of the
    latest revision, and will comply with applicable law. The User’s continued
    use of the Service after the revised Policy has become effective indicates
    that the User has read, understood and agreed to the current version of the
    Policy.
  </p>
  <h4><strong>How to Contact Us </strong></h4>
  <p>
    Please contact us with any questions or comments about this Policy, your
    Personal Data, our use and disclosure practices, or your consent choices by
    email at developer@gmail.com, or by phone number +7 499 215-65-25, or by the
    legal address of the Data Controller.
  </p>
</div>
