<div class="authorization-wrapper">
  <span class="login-span">Log in</span>
  <span class="divider">or</span>
  <button
    (click)="onRegisterBtnClick()"
    class="register-button"
    mat-flat-button
  >
    Sign up
  </button>
  <div class="authorization-content">
    <div class="form">
      <mat-form-field appearance="outline">
        <mat-label>Email address</mat-label>
        <input
          matInput
          placeholder="example@gmail.com"
          [formControl]="email"
          #mall
          required
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput #pwd placeholder="••••••" type="password" required />
      </mat-form-field>
      <button
        (click)="onLoginBtnClick(mall.value, pwd.value)"
        class="login-button"
        mat-raised-button
        color="primary"
      >
        Log in
      </button>
    </div>
  </div>
</div>
