@media (min-width: 681px) and (max-width: 991px) {
  .other-partners .other-partners-item {
    width: 15%;
  }
  .other-partners .other-partners-item:nth-child(9),
  .other-partners-item:nth-child(10),
  .other-partners-item:nth-child(11),
  .other-partners-item:last-child {
    display: none;
  }
}
@media (max-width: 680px) {
  .hotel-partners .partner-item {
    width: 23% !important;
    margin-left: 0px;
  }

  .hotel-partners .partner-item:last-child {
    display: none;
  }
  .other-partners {
    flex-wrap: wrap;
  }
  .other-partners .other-partners-item {
    width: 20% !important;
  }
  .other-partners .other-partners-item:nth-child(11),
  .other-partners-item:last-child {
    display: none;
  }
}
