<article class="banner-wrapper">
  <div class="banner">
    <h1 class="banner-text">Add hotels, hostels, and apartments</h1>
  </div>
</article>
<div class="container">
  <div class="hotel-partners">
    <div class="partner-item">
      <img src="assets/partner-logos/hilton.svg" alt="" />
    </div>
    <div class="partner-item">
      <img src="assets/partner-logos/marriott.svg" alt="" />
    </div>
    <div class="partner-item">
      <img src="assets/partner-logos/bestwestern.svg" alt="" />
    </div>
    <div class="partner-item">
      <img src="assets/partner-logos/fourseasons.svg" alt="" />
    </div>
    <div class="partner-item">
      <img src="assets/partner-logos/holidayinn.svg" alt="" />
    </div>
    <div class="partner-item">
      <img src="assets/partner-logos/mercure.svg" alt="" />
    </div>
  </div>
  <div class="other-partners">
    <div class="other-partners-item">
      <img src="assets/partner-logos-2/ibis.svg" alt="" />
    </div>
    <div class="other-partners-item">
      <img src="assets/partner-logos-2/novotel.svg" alt="" />
    </div>
    <div class="other-partners-item">
      <img src="assets/partner-logos-2/sheraton.svg" alt="" />
    </div>
    <div class="other-partners-item">
      <img src="assets/partner-logos-2/choice.svg" alt="" />
    </div>
    <div class="other-partners-item">
      <img src="assets/partner-logos-2/hyatt.svg" alt="" />
    </div>
    <div class="other-partners-item">
      <img src="assets/partner-logos-2/whotels.svg" alt="" />
    </div>
    <div class="other-partners-item">
      <img src="assets/partner-logos-2/ihg.svg" alt="" />
    </div>
    <div class="other-partners-item">
      <img src="assets/partner-logos-2/crowneplaza.svg" alt="" />
    </div>
    <div class="other-partners-item">
      <img src="assets/partner-logos-2/intercontinental.svg" alt="" />
    </div>
    <div class="other-partners-item">
      <img src="assets/partner-logos-2/kempinski.svg" alt="" />
    </div>
    <div class="other-partners-item">
      <img src="assets/partner-logos-2/swissotel.svg" alt="" />
    </div>
    <div class="other-partners-item">
      <img src="assets/partner-logos-2/accor.svg" alt="" />
    </div>
  </div>
</div>
