<app-banner></app-banner>
<main>
  <div class="container">
    <article class="hotels">
      <div class="hotel-wrapper">
        <div class="hotel-card" *ngFor="let item of hotels">
          <div class="row gx-0 gx-md-3 gx-lg-3">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="hotel-image">
                <img [src]="item.images[0]" alt="" />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
              <div class="hotel-wrapper">
                <div class="hotel-content">
                  <a href=""
                    ><h2 class="hotel-name">{{ item.name }}</h2></a
                  >
                  <h3 class="hotel-location">{{ item.city }}</h3>
                  <h4 class="date-text">Date added: {{ item.date }}</h4>
                  <h4 class="date-text">Stars: {{ item.star }}</h4>
                </div>
                <div class="buttons">
                  <button
                    *ngIf="checkCondition(item.uid)"
                    class="info-btn"
                    mat-raised-button
                    color="primary"
                    (click)="openDialog(item.name, item.uid)"
                  >
                    Full information
                  </button>
                  <button
                    routerLink="/show-rooms/{{ item.name }}/{{ item.uid }}"
                    class="room-btn"
                    mat-raised-button
                    color="primary"
                  >
                    Show rooms
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>
