<div class="container-fluid">
  <h1>Room price registration</h1>
  <form [formGroup]="priceForm" (ngSubmit)="onFormSubmit()" #form="ngForm">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>How many day</mat-label>
      <input formControlName="date" type="text" matInput required />
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Room price</mat-label>
      <input
        formControlName="roomPrice"
        matInput
        required
        type="number"
        placeholder="Enter here"
      />
    </mat-form-field>
    <button
      class="addBtn"
      [disabled]="form.invalid"
      mat-raised-button
      color="primary"
    >
      Add price
    </button>
  </form>
</div>
