<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="footer-about">
          <img routerLink="/" src="assets/logo.png" alt="" />
          <ul>
            <li routerLink="/">Our team</li>
            <li routerLink="/">Contacts</li>
            <li routerLink="/privacy-policy">Copyright</li>
            <li routerLink="/">Advertisers</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="footer-social d-flex align-items-center">
          <a href="https://www.facebook.com" target="_blank">
            <span class="fab fa-facebook"></span>
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <span class="fab fa-instagram"></span>
          </a>
          <a href="https://www.twitter.com" target="_blank">
            <span class="fab fa-twitter"></span>
          </a>
          <a href="https://www.youtube.com" target="_blank">
            <span class="fab fa-youtube"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <span class="copyright">
      Copyright 2021 Hotelmore All Rights Reserved.
    </span>
  </div>
</footer>
