<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-about">
          <img src="assets/logo.png" alt="" />
          <ul>
            <li>Our team</li>
            <li>Contacts</li>
            <li>Copyright</li>
            <li>Advertisers</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-social d-flex align-items-center">
          <a href="www.facebook.com" target="_blank">
            <span class="fab fa-facebook"></span>
          </a>
          <a href="www.instagram.com" target="_blank">
            <span class="fab fa-instagram"></span>
          </a>
          <a href="www.twitter.com" target="_blank">
            <span class="fab fa-twitter"></span>
          </a>
          <a href="www.youtube.com" target="_blank">
            <span class="fab fa-youtube"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
