@media (max-width: 1001px) {
  .container {
    width: auto !important;
  }
  .container .policy-wrapper {
    width: auto !important;
  }
}
@media (max-width: 575px) {
  .container {
    width: 95% !important;
  }
}
